// DIFFICULTY
.difficulty {
    &-options {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: auto;
    }

    &-btn {
        background-color: #fff;
        border: none;
        padding: 5px;
        cursor: pointer;
        transition: .2s all ease-in;
		font-size: 100%;
		line-height: 1.15;
		font-weight: 600;

        &::before,
        &::after {
            transition: .2s all ease-in;
            display: inline-block;
            content: "";
            border-top: 1px solid #444;
            width: 0;
            margin: 0 1rem;
            transform: translateY(-.4rem);
        }

        &:hover,
        &:active {
            color: #444;

            &::before,
            &::after {
                width: 4rem;
            }
        }
    }
}

// INSTRUCTIONS
.instructions {
	font-weight: lighter;
	font-size: 14px;
	letter-spacing: 1px;
	transition: all 0.3s ease-out;
	margin-top: 35%;

	&.slideUp {
		margin-top: 25%;

		/* ----------- iPhone 6+/7+/8+ ----------- */
		/* Portrait */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
			margin-top: 17rem;
		}

		/* ----------- iPhone X ----------- */
		/* Portrait */
		@media only screen and (max-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
			margin-top: 20rem;
		}
	}

	& .txt-instructions {
		margin: 0 auto 5px auto;
		padding: 3px;
		cursor: pointer;
	}

	&-list {
		font-size: 12px;
		margin: auto;
		text-align: start;
		line-height: 1.5;
		max-width: 300px;
		width: 80%;
		transition: all 0.3s ease-out;
	}

	/* ----------- iPhone 6+/7+/8+ ----------- */
	/* Portrait */
	@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
		margin-top: 25rem;
	}

	/* ----------- iPhone X ----------- */
	/* Portrait */
	@media only screen and (max-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
		margin-top: 30rem;
	}
}