@import '../../App.scss';

/* ============================================= */
/*              Overlay                          */
/* ============================================= */

#overlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	z-index: 10;
}

.overlay-content {
	position: relative;

	&-container {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		width: 90%;
		margin-top: 1rem;
	}
}

.start-screen {
	font-size: 36px;
	margin-bottom: 2rem;
	letter-spacing: 1px;
}

// DIFFICULTY
.difficulty {
	&-options {
		display: flex;
		flex-direction: column;
		max-width: 300px;
		margin: auto;
	}

	&-btn {
		background-color: #fff;
		border: none;
		padding: 5px;
		cursor: pointer;
		transition: 0.2s all ease-in;

		&::before,
		&::after {
			transition: 0.2s all ease-in;
			display: inline-block;
			content: '';
			border-top: 1px solid #444;
			width: 0;
			margin: 0 1rem;
			transform: translateY(-0.4rem);
		}

		&:hover,
		&:active {
			color: #444;

			&::before,
			&::after {
				width: 4rem;
			}
		}
	}
}

// INSTRUCTIONS
.instructions {
	font-weight: lighter;
	font-size: 14px;
	letter-spacing: 1px;
	transition: all 0.3s ease-out;
	margin-top: 35%;

	&.slideUp {
		margin-top: 25%;

		/* ----------- iPhone 6+/7+/8+ ----------- */
		/* Portrait */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
			margin-top: 17rem;
		}

		/* ----------- iPhone X ----------- */
		/* Portrait */
		@media only screen and (max-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
			margin-top: 20rem;
		}
	}

	& .txt-instructions {
		margin: 0 auto 5px auto;
		padding: 3px;
		cursor: pointer;
	}

	&-list {
		font-size: 12px;
		margin: auto;
		text-align: start;
		line-height: 1.5;
		max-width: 300px;
		width: 80%;
		transition: all 0.3s ease-out;
	}

	/* ----------- iPhone 6+/7+/8+ ----------- */
	/* Portrait */
	@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
		margin-top: 25rem;
	}

	/* ----------- iPhone X ----------- */
	/* Portrait */
	@media only screen and (max-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
		margin-top: 30rem;
	}
}

.toggle-display {
	opacity: 0;
	display: none;
}

li {
	margin-bottom: 8px;
}

// TEXT STYLES
.txt {
	&-results {
		color: #fff;
		-webkit-text-stroke: 2px $color-orange;
	}

	&-continue {
		color: rgb(226, 226, 226);
	}

	&-results,
	&-win {
		font-size: 48px;
	}

	&-wrong,
	&-win,
	&-lose {
		color: $color-golden;
	}

	&-player-input {
		display: block;
		margin: auto;
		font-size: 36px;
	}

	&-correct,
	&-player-input {
		color: #fff;
	}

	&-correct {
		text-align: start;
		margin: 1rem auto;
		font-size: 24px;

		&-header {
			color: $color-golden;
		}

		&-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}
